<!DOCTYPE HTML>
<html xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="nofollow" />
        <meta name="robots" content="noarchive" />
        <title>Smile</title>
        <link rel="shortcut icon" href="/static/img/shudong_logo.png" type="image/x-icon" />
        <meta content="记录每个人生活的点点滴滴。" name="description"/>
        <meta http-equiv="Pragma" content="no-cache" />
        <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script>
            if (window!==top){
                alert("请直接通过域名(https://shudong.com)访问树洞");
                top.location.href = window.location.href;
            }
        </script>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="span-10">
                    <span><a class="header_w" href="/">首页</a></span>
                    <span><a class="header_w" href="/home">我的主页</a></span>
                </div>
                <div class="prepend-9 span-5 last" style="text-align: right;">
                    <a style="font-weight:bold;" class="header_w" href="/add">写日记</a>
                </div>
            </div>
        </div>

        <meta name="robots" content="none" />

        <div class="container main">
            <div class="siderbar_left">
                <div class="img_shadow" style="padding-top: 4px;">
                    <a href="/">
                        <img src="/static/img/diary.png" alt="Smile" width="300px" />
                    </a>
                </div>
                <div class="quote"><span>还没活明白的小白</span></div>
            </div>
            <div class="main_right">
                <div style="color:#909090; margin-bottom:15px;border-bottom: 2px #8FA5AB solid; height: 22px;">
                    <span style="font-size: 16px; line-height: 20px;">{{ date_today }}&nbsp;&nbsp;&nbsp;{{ week_today }}</span>
                    <span style="font-size: 14px; float: right;"><img src="/static/img/flower-16.png"  alt=""/> × {{ diary_sum }}</span>
                </div>
                {% if diary_body_today %}
                    <div class="note_each" style="position:absolute; width:510px; height:300px; overflow:auto">
                        {% for key, value in diary_body_today.items %}
                            <div class="note_time">{{ key |slice:"2"}}:{{  key |slice:"2:4" }}</div>
                            <div class="note_content">{{ value }}</div>
                            <div class="note_username">-- Smile</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>今天还没写日记哦！<a href="/add">去写日记～</a></p>
                {% endif %}
            </div>
        </div>

        <div class="footer container">
            <hr class="hr-10">
            <div class="copyright span-6 append-9">
                &copy;2023-2050 树洞 <a href="https://shudong.com">shudong.com</a>
            </div>

            <div class="prepend-4 span-5 last">
                <a href="/admin">&spar;关于树洞</a>
            </div>
        </div>
    </body>
</html>
